/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  scroll-behavior: smooth;
}
body {
  color: #222;
  font-size: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #222;
}
li {
  list-style: none;
}

/* Common */
button, input {
  background-color: transparent;
  border: none;
  outline: none;
}
button, input[type=button], input[type=submit] {
  cursor: pointer;
}
img {
  pointer-events: none;
}
h4 {
  font-size: 22px;
  font-weight: 500;
}
h4 span {
  font-size: 16px;
  margin-left: 5px;
  text-transform: uppercase;
  color: #7e7e7e;
}

/* Header */
header {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
header.fixed {
  background-color: rgba(255, 255, 255, 0.95);
}
.hd_inner {
  width: 1280px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd_left_wr {
  height: 100%;
  display: flex;
  align-items: center;
}
.hd_left_wr .logo a {
  width: 180px;
  height: 36px;
  display: block;
  background: url(images/skyscanner-logo-blue.png) no-repeat center center;
  background-size: 100%;
}
.hd_left_wr .gnb ul {
  height: 100%;
  margin-left: 24px;
  display: flex;
}
.hd_left_wr .gnb ul li {
  height: 100%;
}
.hd_left_wr .gnb ul li a {
  height: 100%;
  padding: 0 15px;
  color: #222;
  font-size: 17px;
  line-height: 80px;
  display: block;
}
.hd_left_wr .gnb ul li a:hover {
  color: #0770e3;
}

.hd_right_wr {
  display: flex;
}
.hd_right_wr button {
  color: #5e5e5e;
  padding: 10px 12px;
}
.hd_right_wr button:hover {
  background-color: rgba(230, 230, 230, 0.7);
  border-radius: 8px;
  color: #222;
}
.hd_right_wr button i {
  font-size: 18px;
}
.hd_right_wr .language i {
  transform: translateY(1px);
}
.hd_right_wr .signin span {
  font-size: 15px;
  display: inline-block;
  margin-left: 2px;
  transform: translateY(-1px);
}
.m_menu_btn {
  display: none;
}

/* Section : Main */
section.main {
  margin-bottom: 120px;
}
section.main .inner {
  position: relative;
  width: 100%;
  height: 800px;
  background: url(images/main-bg.jpg) no-repeat top left;
  background-size: 115%;
}
.bg_gradient_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(transparent 65%, #fff);
}
.main_search {
  width: 1280px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.main_title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Section : Main : SearchBox RouteType */
.searchbox_routetype label {
  font-size: 17px;
  margin-right: 12px;
}
.searchbox_routetype input {
  display: none;
}
.searchbox_routetype input + em,
.searchbox_routetype input:checked + em {
  display: inline-block;
  background: url(images/input-radio-icon.png) no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
  background-position: left;
  transform: translateY(5px);
  margin-right: 6px;
}
.searchbox_routetype input:checked + em {
  background-position: right;
}

/* Section : Main : SearchBox SearchBox Setting */
.searchbox_setting .oneway_wr,
.searchbox_setting .multi_wr {
  display: none;
}

.searchbox_setting {
  display: inline-block;
  width: 100%;
  margin: 14px 0 8px 0;
}
.searchbox_setting .roundtrip,
.searchbox_setting .oneway,
.searchbox_setting .multi {
  position: relative;
}
.searchbox_setting input {
  font-size: 20px;
}
.searchbox_setting .set_box {
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.searchbox_setting .set_box:before {
  font-family: fontawesome;
  color: #0770e3;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 70px;
}
.searchbox_setting .area:before {
  content: '\f3c5';
  font-size: 22px;
}
.searchbox_setting .date:before {
  content: '\f133';
  font-size: 22px;
}
.searchbox_setting .user:before {
  content: '\f007';
  font-size: 20px;
}
.searchbox_setting .area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.searchbox_setting .area input {
  width: 100%;
}
.searchbox_setting .area input::placeholder,
.searchbox_setting .date input {
  color: #999;
  font-size: 18px;
  font-weight: 500;
  transform: translateY(-1px);
}
.searchbox_setting .area .leave {
  margin-left: 2px;
  padding-right: 30px;
}
.searchbox_setting .area .arrive {
  padding-left: 30px;
  margin-right: 10px;
}
.searchbox_setting .area .reverse {
  font-size: 22px;
  color: #999;
  height: 40px;
  width: 80px;
  transform: translateY(14px);
}
.searchbox_setting .date,
.searchbox_setting .user {
  width: calc( 50% - 5px );
  cursor: pointer;
}
.searchbox_setting .date {
  float: left;
}
.searchbox_setting .user {
  float: right;
}
.searchbox_setting .multi_set {
  display: flex;
  justify-content: space-between;
}
.searchbox_setting .multi_set .area {
  width: calc(60% - 5px);
}
.searchbox_setting .multi_set .date {
  width: calc(33% - 10px);
}
.searchbox_setting .multi_set .minus_btn,
.searchbox_setting .multi .plus_btn {
  height: 70px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 26px;
  color: #999;
}
.searchbox_setting .multi_set .minus_btn {
  width: calc(7% - 5px);
  background: #fff;
}
.searchbox_setting .multi_set .minus_btn i {
  opacity: 0.3;
}
.searchbox_setting .multi .plus_btn {
  width: calc(60% - 5px);
  float: left;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}
.searchbox_setting .multi .plus_btn i {
  margin-right: 10px;
}
.searchbox_setting .multi .user {
  width: calc(40% - 5px);
  float: right;
  margin-top: 15px;
}

/* SearchBox : Modal Active */
.searchbox_setting .set_modal {
  position: absolute;
  top: 80px;
  z-index: 10;
  display: none;
}
.searchbox_setting .area_leave_modal {
  left: 0;
}
.searchbox_setting .roundtrip .area_arrive_modal,
.searchbox_setting .oneway .area_arrive_modal {
  right: 0;
}
.searchbox_setting .roundtrip .date_modal,
.searchbox_setting .oneway .date_modal {
  top: 160px;
  left: 0;
}
.searchbox_setting .roundtrip .user_modal,
.searchbox_setting .oneway .user_modal {
  top: 160px;
  left: 645px;
}
.searchbox_setting .multi_set {
  position: relative;
}
.searchbox_setting .multi .area_arrive_modal {
  left: 420px;
}
.searchbox_setting .multi .date_modal {
  top: 80px;
  right: 0;
}
.searchbox_setting .multi .user_modal {
  top: 255px;
  right: 0;
}

.searchbox_setting .area_modal_inner,
.searchbox_setting .date_modal_inner,
.searchbox_setting .user_modal_inner {
  background-color: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px 30px;
}
.searchbox_setting .area_modal_inner {
  width: 650px;
}
.searchbox_setting .area_modal_content {
  height: 350px;
  position: relative;
}
.searchbox_setting .area_modal_content .warning {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchbox_setting .area_modal_content .warning i {
  font-size: 70px;
  color: #dbdbdb;
}
.searchbox_setting .area_modal_content .warning p {
  font-size: 20px;
  color: #a5a5a5;
  margin-top: 12px;
}
.searchbox_setting .everywhere,
.searchbox_setting .all_area {
  border: 2px solid #e9e9e9;
  padding: 12px 0;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
}
.searchbox_setting .everywhere button,
.searchbox_setting .all_area button {
  font-size: 18px;
}
.searchbox_setting .all_area button:before {
  content: '\f3c5';
  font-family: fontawesome;
  margin-right: 6px;
  font-size: 18px;
}
.searchbox_setting .everywhere:hover,
.searchbox_setting .all_area:hover {
  border: 2px solid #0770e3;
}
.searchbox_setting .everywhere:hover button,
.searchbox_setting .all_area:hover button {
  color: #0770e3;
}
.searchbox_setting .area_arrive_modal .area_modal_btn {
  width: 100%;
  position: relative;
}
.searchbox_setting .area_arrive_modal .all_area,
.searchbox_setting .area_arrive_modal .everywhere {
  width: calc(50% - 5px);
  display: inline-block;
}
.searchbox_setting .area_arrive_modal .all_area {
  margin-right: 6px;
}
.searchbox_setting .area_arrive_modal .everywhere  button:before {
  content: '\f57e';
  font-family: fontawesome;
  margin-right: 6px;
}
.searchbox_setting .area_arrive_modal .everywhere_desc {
  position: absolute;
  bottom: 70px;
  right: 21px;
  opacity: 0;
  transform: translateY(4px);
  pointer-events: none;
}
.searchbox_setting .area_arrive_modal .everywhere:hover .everywhere_desc {
  opacity: 1;
}
.searchbox_setting .area_arrive_modal .everywhere_desc_tail {
  width: 10px;
  height: 10px;
  background: #0770e3;
  position: absolute;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
  bottom: -8px;
  border-radius: 2px;
}
.searchbox_setting .area_arrive_modal .everywhere_desc_inner {
  text-align: center;
  color: #fff;
  background: #0770e3;
  padding: 12px 28px 14px;
  border-radius: 8px;
}
.searchbox_setting .area_arrive_modal .everywhere_desc_inner b {
  font-weight: 500;
}
.searchbox_setting .area_arrive_modal .everywhere_desc_inner p {
  font-size: 12px;
}

.searchbox_setting .date_modal_inner {
  position: relative;
}
.searchbox_setting .date_prev_btn,
.searchbox_setting .date_next_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 95px;
}
.searchbox_setting .date_prev_btn {
  left: 20px;
  color: #999;
}
.searchbox_setting .date_next_btn {
  right: 20px;
}
.searchbox_setting .date_prev_btn i,
.searchbox_setting .date_next_btn i {
  font-size: 22px;
}
.searchbox_setting .date_select {
  display: inline-block;
  text-align: center;
  padding: 0 20px;
}
.searchbox_setting .month_select_btn {
  display: inline-block;
  border: 2px solid #e9e9e9;
  padding: 4px 12px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.searchbox_setting .month_select_btn:hover {
  border: 2px solid #0770e3;
}
.searchbox_setting .month_select_btn:hover button {
  color: #0770e3;
}
.searchbox_setting .month_select_btn button {
  font-size: 16px;
}
.searchbox_setting .date_month {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.searchbox_setting .calendar table {
  border-collapse: collapse;
}
.searchbox_setting .calendar .sun,
.searchbox_setting .calendar .sun span,
.searchbox_setting .calendar .rest span {
  color: rgb(209, 21, 21);
}
.searchbox_setting .calendar .sat,
.searchbox_setting .calendar .sat span {
  color: #0770e3;
}
.searchbox_setting .calendar th,
.searchbox_setting .calendar td span {
  font-size: 17px;
  font-weight: 500;
}
.searchbox_setting .calendar td {
  padding: 5px 0;
}
.searchbox_setting .calendar tbody button {
  width: 50px;
  height: 40px;
  vertical-align: middle;
}
.searchbox_setting .calendar tbody button.check {
  background-color: #0770e3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.searchbox_setting .calendar tbody button.check span {
  color: #fff;
}

.searchbox_setting .user_modal_inner {
  width: 540px;
}

.searchbox_setting .flightclass {
  margin-bottom: 35px;
}
.searchbox_setting .flightclass_title,
.searchbox_setting .passenger_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.searchbox_setting .flightclass_guide {
  text-align: center;
}
.searchbox_setting .flightclass_guide i {
  color: #a5a5a5;
  font-size: 20px;
  margin-bottom: 5px;
}
.searchbox_setting .flightclass_guide p {
  font-size: 15px;
  margin-left: 4px;
  color: #999;
}
.searchbox_setting .flightclass_guide p b {
  font-weight: 500;
}
.searchbox_setting .countgroup_wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.searchbox_setting .countgroup .title {
  font-size: 18px;
  margin-bottom: 20px;
}
.searchbox_setting .countgroup .title i {
  font-size: 17px;
  color: #a5a5a5;
  cursor: pointer;
  margin-left: -3px;
  transform: translateY(2px);
  position: relative;
}
.searchbox_setting .countgroup .title i:hover {
  color: #0770e3;
}
.searchbox_setting .countgroup .title i:hover .countgroup_desc {
  display: block;
}
.searchbox_setting .countgroup_desc {
  display: none;
  position: absolute;
  top: -65px;
  left: 0;
  pointer-events: none;
}
.searchbox_setting .countgroup:nth-child(1) .countgroup_desc {
  left: -14px;
  width: 150px;
}
.searchbox_setting .countgroup:nth-child(2) .countgroup_desc {
  left: -15px;
  width: 150px;
}
.searchbox_setting .countgroup:nth-child(3) .countgroup_desc {
  left: -15px;
  top: -45px;
  width: 95px;
}
.searchbox_setting .countgroup_desc_tail {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #0770e3;
  position: absolute;
  left: 18px;
  bottom: -3px;
  transform: rotate(45deg) ;
}
.searchbox_setting .countgroup_desc_inner {
  background-color: #0770e3;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  padding: 8px 16px;
  line-height: 1.6em;
}
.searchbox_setting .countgroup .count button {
  width: 35px;
  height: 35px;
  border: 2px solid #e9e9e9;
  border-radius: 50%;
  font-size: 15px;
}
.searchbox_setting .countgroup .count .minus:hover,
.searchbox_setting .countgroup .count .plus:hover {
  background-color: #0770e3;
  border: 2px solid #0770e3;
  color: #fff;
}
.searchbox_setting .countgroup .count .count_number {
  font-size: 20px;
  font-weight: 500;
  padding: 0 15px;
}
.searchbox_setting .notice {
  background-color: #f5f7fa;
  padding: 16px 20px;
  border-radius: 8px;
}
.searchbox_setting .notice p {
  font-size: 14px;
  margin-bottom: 8px;
}
.searchbox_setting .notice p:last-child {
  margin-bottom: 0;
}
.searchbox_setting .notice p:before {
  content: '\e9a7';
  font-family: xeicon;
  font-size: 16px;
  transform: translateY(2px);
  display: inline-block;
}

/* Section : Main : SearchBox Area Type */
.searchbox_areatype label {
  font-size: 17px;
  color: #444;
  margin-right: 12px;
}
.searchbox_areatype input {
  display: none;
}
.searchbox_areatype input + em,
.searchbox_areatype input:checked + em {
  display: inline-block;
  background: url(images/input-checkbox-icon.png) no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
  background-position: left;
  transform: translateY(5px);
  margin-right: 6px;
}
.searchbox_areatype input:checked + em {
  background-position: right;
}
.searchbox_areatype input[type=checkbox] {
  margin-right: 5px;
}

/* Section : Main : SearchBox Search */
.searchbox_search {
  margin-top: 20px;
  text-align: center;
}
.searchbox_search input {
  height: 70px;
  width: 200px;
  font-size: 20px;
  background-color: #0770e3;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
}
.searchbox_search input:hover {
  background-color: #0862c2;
}

  /* Section : Main : Sub */
.main_sub_inner {
  width: 1280px;
  margin: -95px auto 0 auto;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}
.main_desc {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.main_desc img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  margin-top: -5px;
}
.main_desc:nth-child(2) img {
  margin-top: -8px;
}
.main_desc p {
  font-size: 15px;
}

/* Section Heading */
.section_hd {
  width: 1280px;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_hd .title {
  display: flex;
  align-items: baseline;
}
h2 {
  font-size: 26px;
  font-weight: 700;
}
h3 a {
  font-size: 15px;
  color: #7e7e7e;
  margin-left: 15px;
  font-weight: 700;
}
h3 a:after {
  content: ' \f061';
  font-family: fontawesome;
  font-size: 13px;
}
.section_hd .control button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font-size: 16px;
  color: #999;
}
.section_hd .control button i {
  transform: translateY(-1px);
}
.section_hd .control .prev {
  margin-right: 3px;
}
.section_hd .control .next i {
  transform: translateX(1px);
}
.section_hd .control .prev.active,
.section_hd .control .next.active {
  color: #222;
}

/* Section : Plane Common */
section.plane_seoul,
section.plane_jeju {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 120px;
  overflow: hidden;
}
.plane_items {
  width: calc(200% + 20px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  transition: 0.6s;
}
.plane_items:hover {
  height: 370px;
}
.plane_items .item {
  width: 100%;
  height: 100%;
}
.plane_items .item a {
  display: block;
  width: 100%;
  height: 260px;
  position: relative;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  padding: 6px;
  overflow: hidden;
  transition: height 0.6s;
}
.plane_items .item.active a {
  height: 370px;
}
.plane_items .item a > img {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
}
.plane_item_area {
  margin: 15px 0 20px;
  text-align: center;
}
.plane_item_area h4 {
  display: inline-block;
}
.plane_item_area i {
  color: #7e7e7e;
  margin: 0 20px;
}
.plane_item_desc {
  text-align: left;
  color: #7e7e7e;
  display: inline-block;
  margin-left: 70px;
}
.plane_item_desc > div {
  padding-bottom: 8px;
}
.plane_item_desc > div:before {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  margin-right: 12px;
}
.plane_item_desc .date:before {
  content: '\f133';
  font-family: fontawesome;
}
.plane_item_desc .airport:before {
  content: '\eb3a';
  font-family: xeicon;
  transform: translateY(2px) rotate(25deg);
  font-size: 20px;
}
.plane_item_desc .transfer:before {
  content: '\f3c5';
  font-family: fontawesome;
}
section.plane_seoul .jejuair_logo,
section.plane_jeju .jejuair_logo {
  height: 22px;
  transform: translateY(5px);
  margin-left: -3px;
}
section.plane_seoul .jinair_logo,
section.plane_jeju .jinair_logo {
  height: 20px;
  margin-right: 3px;
  transform: translateY(5px);
}
section.plane_seoul .tway_logo,
section.plane_jeju .tway_logo {
  height: 14px;
  margin-right: 3px;
  transform: translateY(1px);
  margin-left: 2px;
}
section.plane_seoul .mu_logo,
section.plane_jeju .mu_logo {
  height: 19px;
  margin-right: 3px;
  transform: translateY(4px);
}
section.plane_seoul .airbusan_logo,
section.plane_jeju .airbusan_logo {
  height: 26px;
  margin-right: 5px;
  transform: translateY(7px);
}
section.plane_seoul .eastar_logo,
section.plane_jeju .eastar_logo {
  height: 28px;
  margin-right: 4px;
  transform: translateY(8px);
}
.plane_item_price {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #fff;
  text-align: center;
}
.plane_item_price div {
  font-size: 20px;
  color: #0770e3;
  margin: 8px 0;
}
.plane_item_price span {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 3px;
  background-color: #0770e3;
  border-radius: 3px;
}

/* Section : plane_desc_wr */
section.plane_desc_wr {
  background-color: #f5f7fa;
  margin-bottom: 120px;
}
section.plane_desc_wr .inner {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.plane_desc {
  flex: 1;
  text-align: center;
  padding: 70px 10px 80px 10px;
}
.plane_desc img {
  width: 160px;
  margin-bottom: 15px;
}
.plane_desc p {
  margin: 12px 30px 0 30px;
  color: #7e7e7e;
  font-size: 15px;
  line-height: 1.6em;
}

/* Section : Info */
section.info {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 120px;
}
section.info .inner {
  display: flex;
  justify-content: space-between;
}
.info_email,
.info_email_desc {
  border: 1px solid #e9e9e9;
  padding: 30px 40px;
  border-radius: 8px;
}
.info_email {
  flex: 2;
  margin-right: 20px;
  background: url(images/email-img.svg) no-repeat bottom -32px right 20px;
}
.info_section_hd p {
  margin-top: 20px;
  color: #7e7e7e;
  padding-left: 2px;
}
.email_form {
  margin-top: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 75%;
}
.email_form input {
  height: 60px;
  border-radius: 8px;
  font-size: 18px;
}
.email_form input[type=email] {
  flex: 3;
  background: #fff;
  border: 1px solid #e9e9e9;
  padding-left: 20px;
}
.email_form input[type=email]::placeholder {
  color: #999;
  font-size: 16px;
  font-weight: 500;
  transform: translateY(-2px);
}
.email_form input[type=submit] {
  flex: 1;
  background-color: #0770e3;
  color: #fff;
}
.email_form input[type=submit]:hover {
  background-color: #0862c2
}
.email_privacy {
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1.7em;
  padding-left: 2px;
}
.email_privacy span {
  color: #0770e3;
  font-weight: 500;
}
.email_privacy span:hover {
  text-decoration: underline;
  color: #0862c2;
}

.info_email_desc {
  flex: 1;
}
.email_desc_wr {
  display: flex;
  margin-top: 20px;
}
.email_desc_wr img {
  scale: 1.2;
  height: 100%;
  margin-top: 2px;
  margin-right: 12px;
}
.info_email_desc > div:nth-of-type(2) img {
  margin-top: 7px;
}
.email_desc_wr .email_desc .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}
.email_desc_wr .email_desc .content {
  color: #7e7e7e;
  font-size: 15px;
  line-height: 1.6em;
}

/* Section : FAQ */
section.faq {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.faq_list_item {
  border-bottom: 1px solid #e9e9e9;
}
.faq_list_title {
  padding: 18px 20px;
  width: 100%;
  text-align: left;
  position: relative;
}
.faq_list_title:after {
  content: '\f107';
  font-family: fontawesome;
  font-size: 22px;
  color: #a5a5a5;
  position: absolute;
  right: 20px;
  top: 21px;
}
.faq_list_title.active:after {
  transform: rotate(180deg);
  color: #222;
}
.faq_list_title i {
  font-size: 18px;
  margin-right: 15px;
}
.faq_list_title i.fa-calendar {
  font-size: 20px;
}
.faq_list_title p {
  font-size: 20px;
  display: inline-block;
  position: relative;
}
.faq_list_title.active p {
  font-weight: 700;
}
.faq_list_desc {
  display: none;
  padding: 20px 58px 50px;
}
.faq_list_desc p {
  line-height: 1.8em;
}
.faq_list_desc p b {
  font-weight: 500;
}
.faq_list_desc p a {
  color: #0770e3;
}
.faq_list_desc p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Section : Popular Area */
section.popular_area {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.popular_area_tab {
  margin-bottom: 20px;
}
.popular_area_tab button {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  border-radius: 30px;
  font-size: 16px;
  margin-right: 5px;
}
.popular_area_tab button.active {
  color: #fff;
  background-color: #0770e3;
  border: 1px solid #0770e3;
}

.popular_area_list ul {
  display: flex;
  flex-wrap: wrap;
}
.popular_area_list ul:not(:first-child) {
  display: none;
}
.popular_area_list ul li {
  width: 25%;
  padding: 12px 0 12px 12px;
}
.popular_area_list ul li a:hover {
  color: #0770e3;
}

/* Footer */
footer {
  border-top: 1px solid #e9e9e9;
}
.sitemap {
  width: 1280px;
  margin: 0 auto;
}
.sitemap_items {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.sitemap_items .item {
  width: 100%;
  position: relative;
  padding: 0 35px;
}
.sitemap_items .item:after {
  content: '';
  width: 1px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e9e9e9;
  border-radius: 2px;
}
.sitemap_items .item:last-child:after {
  display: none;
}
.sitemap_items .item a {
  display: block;
  text-align: center;
  height: 80px;
}
.sitemap_items .item a span {
  font-size: 18px;
  font-weight: 700;
}
.sitemap_items .item a p {
  font-size: 14px;
  color: #7e7e7e;
  font-weight: 400;
  margin-top: 5px;
}

.policy {
  height: 150px;
  background-color: #02122c;
}
.policy ul {
  text-align: center;
}
.policy ul li,
.policy ul li a {
  display: inline-block;
  color: #e9e9e9;
  font-size: 14px;
  font-weight: 100;
}
.policy ul li {
  margin-top: 30px;
}
.policy ul li a:after {
  content: '|';
  font-size: 11px;
  display: inline-block;
  transform: translateY(-2px);
  margin: 0 13px 0 15px;
  opacity: 0.3;
}
.policy ul li a b {
  font-weight: 300;
}

/* Sub Fixed */
.top_btn {
  position: fixed;
  right: 40px;
  bottom: -60px;
  z-index: 100;
  transition: 0.8s;
}
.top_btn.active {
  bottom: 30px;
}
.top_btn a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e9e9e9;
  border-radius: 50%;
  cursor: pointer;
}
.top_btn a i {
  display: block;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
}

/* Language Modal */
.language_modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.75);
  z-index: 1000;
  display: none;
}
.language_modal_inner {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  animation: modal 1s ease;
}
@keyframes modal {
  0% {
    top: 45%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.language_modal_inner .close_btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}
.language_modal_inner .modal_title {
  display: inline-block;
  transform: translateY(-3px);
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}
.language_modal_inner b {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 6px;
}
.language_modal_inner select {
  width: 100%;
  border: 2px solid #e9e9e9;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 8px;
  font-size: 16px;
}
.language_modal_inner select:focus {
  border: 2px solid #02122c;
}
.language_modal_inner input[type=submit] {
  width: 100%;
  background-color: #02122c;
  color: #fff;
  font-size: 17px;
  border-radius: 8px;
  padding: 10px 0;
  margin-top: 10px;
}
.language_modal_inner input[type=submit]:hover {
  background-color: #051f4b;
}

/* Menu Modal */
.m_menu_modal {
  display: none;
}
